<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="profileForm">

        <!-- Section -->
        <div class="grid  gap-6 w-full mt-8">
            <!-- Job title -->
            <div class="sm:col-span-12">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Job title</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:briefcase'" matPrefix></mat-icon>
                    <input [formControlName]="'jobTitle'" placeholder="Front End developer" matInput>
                </mat-form-field>
            </div>

            <!-- Field -->
            <div class="sm:col-span-12">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Work field</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:puzzle'" matPrefix></mat-icon>
                    <input type="text" placeholder="Work field" matInput formControlName="field" (input)="filter($event)" [matAutocomplete]="fieldAutoComplete" [autofocus]="false">
                    <mat-autocomplete (optionSelected)="selectField($event)" [displayWith]="displayFn" #fieldAutoComplete="matAutocomplete">
                        <mat-option *ngFor="let field of filteredOptions" [value]="field">
                            {{field?.fieldName}}
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>

            </div>
            <!-- Skills -->
            <div class="sm:col-span-12">
                <div class="my-2 text-center" *ngIf="gettingSkills">
                    <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </div>
                <mat-form-field *ngIf="!gettingSkills  && allSkills && allSkills.length" class="fuse-mat-no-subscript w-full">
                    <mat-label>Skills</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:clipboard-check'" matPrefix></mat-icon>
                    <mat-chip-list   class="py-2" #chipList aria-label="Skills selection">
                        <mat-chip *ngFor="let skill of selectedSkills" (removed)="remove(skill?.skillsId)">
                            {{skill?.name}}
                            <button class="align-middle" matChipRemove>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:x-circle'"></mat-icon>
                            </button>
                        </mat-chip>
                        <input (input)="filterSkills($event)" placeholder="Add skill..." #skillsInput [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnSkills" (optionSelected)="selectSkill($event)">
                        <mat-option *ngFor="let skill of filteredSkills" [value]="skill">
                            {{skill?.name}}
                        </mat-option>
                    </mat-autocomplete>


                </mat-form-field>

            </div>
            

           
        </div>


        <!-- Divider -->
        <div class="my-10 border-t"></div>


        <!-- Actions -->
        <div class="flex items-center justify-end">
        
            <button [disabled]="saving" (click)="saveInternProfile()" class="ml-4" mat-flat-button type="button" [color]="'primary'">
                <span *ngIf="!saving">
                    Save
                </span>
                <mat-progress-spinner *ngIf="saving" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>

            </button>
        </div>
    </form>

</div>
